@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif
}

.container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     width: 100vw;
     height: 100vh;
}

.container > div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     position: relative;
     user-select: none;
     overflow: hidden;
}

.container > div > h2 {
     z-index: 2;
}

.container > div:not(:first-child)::before {
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     opacity: 0.5;
     transition: .4s;

     background-size: cover;
     background-position: center;
}

.container > div:hover::before{
     scale: 1.05;
}

h2 {
     font-size: 2.5rem;
     line-height: 1.75rem;
}

h3 {
     font-weight: normal;
     opacity: 0.9;
}

.welcome {
     background-color: white;
     color: black!important;
}

.sp {
     background-color: rgb(237, 53, 53);
     opacity: 1;
}

.rj {
     background-color: rgb(94, 173, 247);
}

.bh {
     background-color: rgb(242, 123, 26);
}

.sc {
     background-color: rgb(192, 231, 84);
}

.pr {
     background-color: rgb(56, 243, 221);
}

.am {
     background-color: rgb(24, 105, 18);
}

.rs {
     background-color: rgb(254, 72, 230);
}

.mg {
     background-color: rgb(249, 150, 150);
}

/* Backgrounds */
.sp::before {
     background: url('../media/sp.jpg');
}

.rj::before {
     background: url('../media/rj.webp');
}

.am::before {
     background: url('../media/am.jpg');
}

.mg::before {
     background: url('../media/mg.jpg');
}

.bh::before {
     background: url('../media/bh.jpg');
}

.pr::before {
     background: url('../media/pr.jfif');
}

.rs::before {
     background: url('../media/rs.jpg');
}

.sc::before {
     background: url('../media/sc.jpg');
}